Markowetz - Five selfish reasons to work reproducibly - 2015.pdf
Ten Simple Rules for Reproducible Computational Research.PDF
installation_notes_and_links_reproducibility.md
reproducibility-tutorial_files/
tutorial_reproducibility/R_reprobucibility/.Rhistory
tutorial_reproducibility/R_reprobucibility/Tutorial_Reproducibility_cache/
tutorial_reproducibility/R_reprobucibility/Tutorial_Reproducibility_files/
tutorial_reproducibility/data_and_papers_reproducibility/Analysis_Graphs.R
tutorial_reproducibility/data_and_papers_reproducibility/Eric-Jan Wagenmakers - Turning the hands of time again: a purely confirmatory replication studyand a Bayesian analysis - .pdf
tutorial_reproducibility/data_and_papers_reproducibility/Topolinski2012.pdf
tutorial_reproducibility/data_and_papers_reproducibility/readme_Wagenmakers_replication.txt
tutorial_reproducibility/python_reprobucibility/.ipynb_checkpoints/
gitintro/
version_control.png
